/* Media da compilare */

/* Laptop grande */
@media screen and (max-width: 1024px) {
  /* Global --> non toccare */ 
  .fz-3 {
    font-size: 0.8rem;
  }
  .hero__button{
    padding: 0.8rem  1.4rem;
  }
  /*---- Header ----*/
  /*nav1 */

  /* nav2*/

  /*---- Main ----*/
  /* Hero top */
  .hero{
    height: 18rem;
  }
  .hero__icon{
    width: 90%;
  }
  .hero_icon_container{
    text-align: center;
  }
  
  /* Giochi in Evidenza */
  .div_format_giochi_evidenza {
    width: 100%;
  }
  /* Ultime Novità */
  .tabs__links{    
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }
  .tabs__btn {
    width: auto;
    text-align: center;
    padding: 0.5rem 1rem;
    white-space: nowrap; 
  }
  .tabs__articles{
    width: 100%;
  }

  /* hero bot */

  /*---- Footer ----*/
  /* Section one */
  .section_one_container {
    width: 90%;
    

  }
  .ul_items {
    flex-wrap: wrap;
  }
  .ul_items li {
    width: 21%;
    padding: 0.5rem 0;

    
  }
  .ul_items li a {
    font-size: 0.8rem;
    
  }
  /* snd */
  .snd {
    width: 90%;
  }
  .ul_accordi {
    width: 90%;
  }
  .ul_accordi li {
    width: 49%;
  }
  .selection_group {
    width: 100%;
  }
  .selezione {
    flex-wrap: wrap;
    width: 50%;
    /* padding-top: 1rem; */
    height: 60%;
    height: 90%;
   
  }
  .selezione li {
   /* height: 70%;  */
   padding: 0;
   margin: 1rem 0 0 1rem;
  
   width: 45%;
  
   /* margin: 1rem 0 0 1rem; */
  }
  .selezione li a {
    font-size: 0.9rem;;
  }
  .selezione li:nth-child(3) {
    width: 12rem;
  }
  .selezione li:nth-child(5) {
    width: 10rem;
  }
  .selezione li:nth-child(6) {
    width: 8rem;
  }
  .selezione li:nth-child(7) {
    width: 5rem;
  }
  .economy {
    width: 50%;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  /* global --> non toccare */
  .hero__button{
    padding: 0.6rem  1.2rem;
  }
  /*---- Header ----*/
  /*nav1 */

  /* nav2*/

  /*---- Main ----*/
  /* hero top */
  .hero{
    height: 15rem;
  }
  .hero__icon{
    width: 70%;
  }
  .hero__content{
    margin-left: 3.0rem;
  }
  /* Giochi in Evidenza */
  .div_format_giochi_evidenza {
    width: 100%;
  }
  .div_one_game{
    width: 40%;
  }
  /* Ultime Novità */
  .tabs__links{
    justify-content: unset;
  }
  .tabs__cards{
    width: 40%;
  }

  /*---- Footer ----*/
  /* Section one */

  /* snd */
}

/* Telefono cellulare medio */
@media screen and (max-width: 426px) {
  /*---- Header ----*/
  /*nav1 */

  /* nav2*/

  /*---- Main ----*/
  /* hero top */
  .hero{
    flex-wrap: wrap;
    background: url(../assest/images/media/hero__img_media.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    justify-content: end;
  }
  .hero__img{
   display: none;
  }
  .hero__icon{
    width: 90%;
  }
  .hero__content{
    width: 100%;
    position: relative;
    margin: 15rem auto 0;
    padding: 1rem 2.5rem;
  }
  .hero__texts{
    line-height: 1.4rem;
  }
  .hero__button{
    width: 90%;
  }
  /* Giochi in Evidenza */
  .div_one_game{
    width: 90%;
  }
  /* Ultime Novità */
  .tabs__cards{
    width: 90%;
    font-size: 0.7rem;
    text-align: center;
  }
  .tabs__cards img{
    display: none;
  }
  /*---- Footer ----*/
  /* Section one */

  /* snd */
}

/* Telefono cellurare piccolo */
@media screen and (max-width: 320px) {
  /*---- Header ----*/
  /*nav1 */

  /* nav2*/

  /*---- Main ----*/
  /* Giochi in Evidenza */

  /* Ultime Novità */

  /*---- Footer ----*/
  /* Section one */

  /* snd */
}
