/* Blocchi univoci */

/* Navbar */

.nav2 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-items: center;
  display: flex;
  gap: 1rem;
  height: 60px;
  padding-left: 1.5rem;
}
.dn {
  display: none;
}

.box-navbar {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  margin-left: 2.5rem;
}
.box-navbar li {
  display: inline-block;
}
.image-ea {
  margin-left: 27px;
}
.bottom-menù-container {
  position: relative;
  display: inline-block;
}
.button-menù {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1.3rem;
}
.navcircle {
  background-color: black;
  border-radius: 50%;
  width: 4px;
  height: 4px;
}

.list-menù {
  font-size: 1.1rem;
  font-weight: 100;
}
.navbutton {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
  margin-right: 2rem;
}
.nav1 {
  overflow: hidden;
  background-color: black;
  height: 40px;
}
.nav1 ul {
  display: flex;
  justify-content: flex-end;
}

.button {
  height: 1.5rem;
  width: 2rem;
  background-color: black;
  border: none;
}
.account-button {
  height: 100%;
  width: 100%;
}

.FaQ-button {
  height: 100%;
  width: 100%;
}
.logo-button {
  height: 100%;
  width: 100%;
}

/* Style hero */

.hero {
  width: 100%;
  height: 450px;
  background-size: contain;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
}

.hero__img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.hero__content {
  z-index: 99;
  height: auto;
  width: 38%;
  margin-left: 1.8rem;
}
.hero__content-1 {
  z-index: 99;
  height: auto;
  width: 50%;
  margin-left: 10rem;
  display: flex;
  flex-direction: column;
}

.hero__texts {
  width: 100%;
  height: auto;
  text-align: center;
  color: #eaeaea;
}
.hero__texts-1 {
  width: 100%;
  height: auto;
  text-align: left;
  color: #eaeaea;
}
.hero__button {
  text-decoration: none;
  padding: 15px 35px;
  background-color: rgba(240, 248, 255, 0);
  border-radius: 2px;
  border: 1px solid #eaeaea;
  color: #eaeaea;
}

.bar__hero {
  background-color: #6fb0d6;
}

.bar__content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.bar__content h2 {
  width: 40%;
}
.bar__button {
  padding: 15px 35px;
  background-color: rgba(240, 248, 255, 0);
  border-radius: 2px;
  border: 2px solid #000000;
  color: #000000;
}

.bar__hero {
  background-color: #6fb0d6;
}

.bar__content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.bar__content h2 {
  width: 40%;
}
.bar__button {
  padding: 15px 35px;
  background-color: rgba(240, 248, 255, 0);
  border-radius: 2px;
  border: 2px solid #000000;
  color: #000000;
}

/* Syle Giochi in Evidenza */

/* General Giochi in Evidenza */
.div_format_giochi_evidenza {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.div_format_game {
  margin: 0 auto;
  padding: 0.5rem;
  width: 80%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.7em;
  justify-content: center;
}
.div_one_game {
  width: 28%;
  aspect-ratio: 1/1;
  display: flex;
}
.div_one_game a {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}
/* Immagine di background(bg_img) */
.img_giochi_evidenza {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
/* Opacità nera tra logo e bg_img */
.div_one_game a .soft_dark {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
/* Logo del gioco */
.logo_giochi_evidenza {
  position: absolute;
  z-index: 1;
  align-self: center;
  height: 20%;
  width: 50%;
}
/* Contenuti dell'hover */
.bg_gradient {
  /* background: linear-gradient(
    to right,
    rgba(0, 0, 143, 0),
    rgba(255, 42, 42, 0)
  ); */
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  /* transition: background-color 1s ease-out;
  -webkit-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out; */
}
.div_one_game a h5 {
  display: none;
  position: flex;
  z-index: 1;
  width: 50%;
  height: 20%;
  margin-top: 3rem;
}
/* Effetto hover */

.div_one_game a:hover {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  transform: 1s;
}
.div_one_game a:hover .logo_giochi_evidenza {
  transition: 0.5s;
  transform: translate(0px, -80%);
}
.div_one_game a:hover .bg_gradient {
  background-color: linear-gradient(
    to right,
    rgba(0, 0, 143, 0.8),
    rgba(255, 42, 42, 0.8)
  );
  background-color: red;
}
.div_one_game a:hover h5 {
  transition: 0.5s;
  display: block;
  color: #eaeaea;
  font-size: 100%;
  align-self: center;
  text-align: center;
}

/* Style Ultime novità */

.tabs {
  text-align: center;
  margin-top: 2rem;
}
.tabs__container {
  margin: 0 auto;
  border-bottom: 1px solid grey;
}
.tabs__btn {
  padding: 1.4rem;
  background: none;
  border: 2px solid transparent;
  font-size: 18px;
}
.tabs__btn:hover {
  background-color: rgb(191, 191, 191);
  border-bottom: 2px solid red;
}
.tabs__links span {
  border: 1px solid grey;
  height: 1.4rem;
}
.tabs__links {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabs__articles {
  padding-top: 4rem;
  padding-left: 5rem;
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 360px));
  column-gap: 0.2rem;
  row-gap: 1rem;
  justify-items: right;
}
.tabs__cards {
  width: 340px;
  text-align: left;
  background-color: #f1f1f1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.244);
}

.tabs__cards img {
  width: 100%;
  height: auto;
  display: block;
}

.tabs__cards:hover {
  transform: translateY(-0.7rem);
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.759);
}
.cards__content {
  margin: 1rem;
}
.text-red {
  color: red;
  padding-right: 1rem;
  font-weight: bold;
  font-size: 12px;
}
.article__btn {
  width: 1200px;
  margin: 0 auto;
  border: 1px solid red;
}

.df {
  display: flex;
  justify-content: center;
}

/* Forse da cancellare */
