.navbutton {
  gap: 0.5rem;
  margin-right: 2rem;
}
.nav1 {
  overflow: hidden;
  background-color: black;
  height: 40px;
}
.nav1 ul {
  display: flex;
  justify-content: flex-end;
}

.button {
  height: 1.5rem;
  width: 2rem;
  background-color: black;
  border: none;
}
.account-button {
  height: 100%;
  width: 100%;
}

.FaQ-button {
  height: 100%;
  width: 100%;
}
.logo-button {
  height: 100%;
  width: 100%;
}
.nav2 {
  align-items: center;
  display: flex;
  gap: 1rem;
  height: 60px;
  padding-left: 1.5rem;
}
.dn {
  display: none;
}

.box-navbar {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  margin-left: 2.5rem;
}
.box-navbar li {
  display: inline-block;
}
.image-ea {
  margin-left: 27px;
}
.bottom-menù-container {
  position: relative;
  display: inline-block;
}
.button-menù {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1.3rem;
}
.navcircle {
  background-color: black;
  border-radius: 50%;
  width: 4px;
  height: 4px;
}

.list-menù {
  font-size: 1.1rem;
  font-weight: 100;
}
.navbutton {
  display: flex;
  gap: 1rem;
}
